/* CSS styles */
body{
	margin: 0px;
	font-family: 'Inter', normal;
	background: #161616;
	background: -webkit-linear-gradient(52deg, #161616 0%, #474747 100%);
	background: linear-gradient(52deg, #161616 0%, #202020 100%);
}
.toprow{
  display: flex;
  flex: 5;
  flex-direction: row;
  justify-content: center;
}
.flexy{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: #474747;
}
.toprow > *{

  width: 50%;
  margin: 2%;
}
.maincardtitle{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 128px;
  width: 100%;
}
.centercard{
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}
.centertop{
  display: flex;
  border: 1px solid #474747;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  --margin-bottom: 15px;
  flex: 10;
  animation: border-color-change 10s infinite;
}
.searchbar:hover,
.searchfilter:hover,
.centertop:hover{
  border: 1px solid white;
  animation: none;
}
@keyframes border-color-change {
	0% {
		border-color: #474747;
	}
	50% {
		border-color: #47474749;
	}
	100% {
		border-color: #474747;
	}
}
.searchbarrow{
  display: flex;
  flex-direction: row;
}
.searchbar{
  border-radius: 20px;
  border: 1px solid #474747;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: 85%;
}
.searchfilter{
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #474747;
  text-align: center;
  width: 15%;
  margin-left: 2%;
}
.bottomrow{
  display: flex;
  flex: 7;
  flex-direction: row;
  background: transparent;
}
.bottom_item_column{
  display: flex;
  flex: 10;
  flex-direction: column;
}
.bottom_index_column{
	display: flex;
	flex: 10;
	flex-direction: column;
	background: transparent;
	border-radius: 15px;
	border: 1px solid #474747;
	animation: border-color-change 10s infinite;
	margin: 2%;
}
.bottom_row_item{
	display: flex;
	flex-direction: row;
	border-radius: 15px;
	border: 1px solid #474747;
	text-align: center;
	color: #999999;
	font-size: 18px;
	animation: border-color-change 10s infinite;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
}
.bottom_row_logo{
	  height: 45px;
	  border: 0px solid black;
	  overflow: hidden;
	  margin: 10px;
	  flex: 1.5;
	  object-fit: scale-down;
}
.bottom_row_product_name{
	flex: 3;
	align-content: center;
}
.bottom_row_product_type{
	flex: 3;
	align-content: center;
}
.bottom_row_price_per_liter{
	flex: 3;
	align-content: center;
	font-size: 32px;
}
