/* CSS styles */
body{
	margin: 0px;
	font-family: 'Inter', normal;
	background: #060613;
	--background: -webkit-linear-gradient(52deg, #0e0e0e 0%, #202020 100%);
	--background: linear-gradient(52deg, #0e0e0e 0%, #202020 100%);
}
.toprow{
  display: flex;
  flex: 5;
  flex-direction: row;
  justify-content: center;
  background: transparent;
}
.flexy{
  display: flex;
  flex-direction: column;
  background-image: url('shapes.gif');
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #474747;
}
.toprow > *{

  width: 50%;
  margin: 2%;
}
.maincardtitle{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 128px;
  width: 100%;
}
.centercard{
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}
.centertop{
  display: flex;
  border: 0px solid #474747;
	background: #060613;
  opacity: 85%;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  --margin-bottom: 15px;
  flex: 10;
  animation: border-color-change 5s infinite;
}
.searchbar:hover,
.searchfilter:hover,
.centertop:hover{
  animation: none;
  opacity: 95%;
}
@keyframes border-color-change {
	0% {
		border-color: #201D31;
	}
	25% {
		border-color: #ff00ff;
	}
	75% {
		border-color: #5900ff;
	}
	100% {
		border-color: #201D31;
	}
}
.searchbarrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
input,
input::placeholder{
	font-family: 'Inter', normal;
	font-size: 15px;
	color: #676767;
}
.searchbar{
	border-radius: 20px;
	border: 0px solid #676767;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
	background: #060613;
	font-family: 'Inter', normal;
	opacity: 85%;
	animation: smaller 1s;
	animation-iteration-count: 1;
	flex: 5;
	width: 100%;
}
.searchfilter:hover,
.searchbar:hover{
	animation: widen 1s;
	animation-iteration-count: 1;
	flex: 20;
}
@keyframes widen {
  0%   {flex: 5}
  100% {flex: 20}
}

@keyframes smaller {
  0%   {flex: 20}
  100% {flex: 5}
}
.searchfilter{
color: #676767;
	animation: smaller 1s;
	animation-iteration-count: 1;
	flex: 5;
  margin-top: 10px;
  opacity: 85%;
  background: #060613;
  padding: 10px;
  border-radius: 20px;
  border: 0px solid #474747;
  text-align: center;
  flex: 5;
  margin-left: 2%;
}
.bottomrow{
  display: flex;
  flex: 8;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
background: #060613;
}
.bottom_item_column{
  display: flex;
  flex: 10;
  flex-direction: column;
  padding-top: 1%;
  overflow-y: scroll;
   scrollbar-color: #201D31 #060613;
}
.bottom_item_column_wrapper{
  display: flex;
  flex: 10;
  flex-direction: column;
  padding-top: 1%;
  height: 90%;
}
.bottom_index_column{
	display: flex;
	flex: 10;
	flex-direction: column;
	background: transparent;
	border-radius: 15px;
	--border: 3px solid #201D31; 
	--animation: border-color-change 10s infinite;
	margin: 2%;
	overflow: hidden;
}
.bottom_row_item{
	display: flex;
	flex-direction: row;
	border-radius: 15px;
	border: 0px solid #474747;
	text-align: center;
	color: #999999;
	font-size: 18px;
	animation: border-color-change 10s infinite;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	background: #201D31;
}
.bottom_row_logo{
	  height: 45px;
	  border: 0px solid black;
	  overflow: hidden;
	  margin: 10px;
	  flex: 1.5;
	  object-fit: scale-down;
}
.bottom_row_product_name{
	flex: 3;
	align-content: center;
}
.bottom_row_packaging_type{
	flex: 3;
	align-content: center;
}
.bottom_row_price_per_liter{
	flex: 3;
	align-content: center;
	font-size: 32px;
}
.bottom_index_chart{
	height: 100%;
	padding: 5%;
}
.infochip{
	background: transparent;
	border-radius: 20px;
	padding: 5px;
	border: 2px solid #423F53;
	color: #423F53;
	margin: 5px;
}

